@charset "UTF-8";

body{
    width: 100vw;
    height: 100vh;

    padding: 0%;
    margin: 0%;
}

header{
    width: 100%;
    height: 6em;

    padding: 0%;
    margin-top:10em;

    display: flex;
    align-items: center;
    flex-direction: row;

}

.conteiner_logo{
    height: 5em;

    display: flex;
    align-items: center;
    flex-direction: row;

    margin: 0% auto 1% 1em;
   
}

.conteiner_logo figure{
    width:  40%;
    height: 40%;
    overflow: hidden;
    margin: 0%;

}

.conteiner_logo img {
    height: 100%; 
    width: 100%; 
    object-fit: cover
}

.conteiner_input_buscar {
    height: 100%;
    position: relative; 

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    margin-right: 3em;
}

.conteiner_input_buscar input {
    width: 100%; 
    height: 3em;
    border-radius: 10px;

    text-indent: 1em;
   
}

.btn_buscar {
    width: 3.8em;
    height: 2.8em;

    position: absolute; 
    top: 50%; 
    right: 0.8em; 
    transform: translateY(-50%); 

    border: none; 
    border-radius: 0 10px 10px 0; 
    background-color: black;
}

.btn_buscar figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width:  100%;
    height: 100%;
    overflow: hidden;
    margin: 0%;
}

.btn_buscar img {
    height: 100%; 
    width: 100%; 
    object-fit: cover;
}

.conteiner_nav{
    height: 3em;

    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    margin: 0.5em 1em 0em auto;
    padding: 0%;
}

.conteiner_nav_option{
    width: 50%;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    gap: 1.5em;

    list-style: none;

    padding: 0%;

    margin: 0%;
    
}

.conteiner_nav_option figure{
    width:  100%;
    height: 100%;
    overflow: hidden;
    margin: 0%;
}

.conteiner_nav_option img{
    height: 100%; 
    width: 100%; 
    object-fit: cover;
    opacity: 0.6;
}


@media (max-width: 1200px) {

.conteiner_logo figure{
    width:  50%;
    height: 50%;
    overflow: hidden;
    margin: 0%;

}
    
.conteiner_nav_option{
    width: 100%;
    height: 100%;
}

}

@media (max-width: 992x) {

.conteiner_logo figure{
    width:  70%;
    height: 70%;
  

}

.conteiner_input_buscar input {
    place-content: none;
   
}

.conteiner_nav_option{
    width: 80%;
    height: 80%;
}


}


@media (max-width: 768px) {

.conteiner_logo figure{
    width:  100%;
    height: 100%;

}


.conteiner_input_buscar input {
    width: 90%; 
    height: 2.5em;
    border-radius: 10px;
   
}

.btn_buscar {
    width: 3em;
    height: 2.5em;

    position: absolute; 
    top: 50%; 
    right: 0.8em; 
    transform: translateY(-50%); 

    border: none; 
    border-radius: 0 10px 10px 0; 
    background-color: black;
}

.btn_buscar figure {
    width:  80%;
    height: 80%;
}

.conteiner_nav_option{
    width: 90%;
    height: 90%;
}

}
