@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


main {
    height: auto;
    width: 100vw;
}

#conteiner_carrinho_geral {
    width: 100%;
    height: 100%;
    padding: 2em;
    margin-top: 1em;
}

#conteiner_carinhos_dados {
    height: auto;
    margin-top: 3em;

    display: flex;
    align-items: top;
    flex-direction: row;
    gap: 3em;


}

#conteiner_carrinho_produtos {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;

    padding-right: 3em;

    border: none;
    border-right: 1px solid black;

}

#conteiner_mensagem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 5em;
}

#conteiner_carrinho_produtos figure {
    width: 15%;
    height: 48%;
}

#conteiner_carrinho_produtos img {
    width: 100%;
    height: 100%;
}

#conteiner_carrinho_produtos h2 {
    font-size: 2.5em;
}

#conteiner_carrinho_produtos p {
    font-size: 1.1em;

    text-align: center;
}

#conteiner_carrinho_info {
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;

    gap: 1em;
}

#conteiner_carrinho_detalhes {
    height: auto;
    border: 1px solid black;

    gap: 1em;

}

#produto {
    height: auto;


    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    padding: 1em;


}


#produto p {
    height: auto;
    margin: 0%;

    font-size: 1.2em;
}

#total {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: row;
    border: none;
    border-top: 1px solid black;

    padding: 1em;
}

#total p {
    margin: 0%;

    font-size: 1.2em;
}


#conteiner_carrinho_info button {
    height: 3em;
    background-color: black;
    color: white;

    border-radius: 10px;
    border: 1px black;
}


@media (max-width: 992px) {
    #conteiner_carinhos_dados {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 3em;

    }

    #conteiner_carinhos_dados {
        flex-direction: column;
    }

    #conteiner_carrinho_produtos {
        border: none;
        border-bottom: 1px solid black;
    }
}


@media (max-width: 768px) {

    #conteiner_carrinho_produtos {
        padding: 0%;
    }

    #conteiner_carrinho_produtos h2 {
        font-size: 1.8em;
    }

    #conteiner_carrinho_produtos p {
        font-size: 1em;

        text-align: center;
    }

}