@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.geral {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.separador {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
       
    
}

.produtos{
    width: 100%;
    height: 100%;
    margin: 1rem;
    border-right: 1px solid #ccc;
    margin-bottom: 20rem;
    
    
}

.produto {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin: 1rem;
    padding: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.img {
    background-image: url(../../assets/imagens/imagens_editadas/mulher_6.jpg);
    background-size: cover;
    width: 7rem;
    height: 10rem;
    margin: 1rem;
    
    
}
.img-2 {
    background-image: url(../../assets/imagens/imagens_editadas/mulher_4.jpg);
    background-size: cover;
    width: 7rem;
    height: 10rem;
    margin: 1rem;
    
    
}
.select {
    width: 6rem;
    height: 1.4rem;
    text-align: center;
    margin: 0.4rem;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    
    
}


.linha {
    display: flex;
    flex-direction: row;
}

.linha button{
    margin-left: 17rem;
}

.linha-2 {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    align-items: center;
}

.resumo {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.qtd input{
    width: 2rem;
    height: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
    border: none;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}


.detalhe-l {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #000;
    
}
.detalhe-c{
    width: 100%;
    height: 12rem;
    border: #000 solid 1px;
    margin-bottom: 5%;
    border-radius: 5px;
    
}
.ende p {
    margin-left: 0.5rem;
    margin-right: 2rem;
    font-weight: 400;
}

.pag{
    width: 100%;
    height: 5rem;
    border: #000 solid 1px;
   
    align-items: center;
}

.preco-p p{
    margin-left: 20rem;
}

.total p{
    margin-left: 8rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

.sub p{
    width: 5rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.sts{
    width: 100%;
    
    border: #000 solid 1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;

}
.sts p{
    margin-left: 1rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

.btn {
    width: 10rem;
    height: 2rem;
    margin: 1rem;
    margin-left: 5rem;
    border-radius: 9px;
    border: none;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: left;
    margin: 0.2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 600;
}

h2 {
    text-align: left;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 600;
}

p {
    text-align: left;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 600;
}

@media (max-width: 1000px) {
    .geral {
        width: 100%;
    }

    .separador {
        flex-direction: column;
    }

    .produtos {
        width: 100%;
        height: auto;
        margin: 0;
        border-right: none;
    }

    .produto {
        width: 80%;
        align-items: center;
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .h2{
        font-size: 1px;
        
    }

    .resumo {
        width: 100%;
        height: auto;
        align-items: center;
        margin: 0.5rem;
        margin-left: 0.5rem;
    }

    .sub p {
        width: 3rem;
        margin-left: 0.3rem;
    }
    .preco {
        width: 90%;
        height: auto;
        
        align-items: center;
       
    }
    
}
    
