@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.geral {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.separador {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
       
    
}

.produtos{
    width: 55%;
    height: 100%;
    margin: 1rem;
    border-right: 1px solid #ccc;
    padding-bottom: 20rem;
    overflow: hidden;
    margin-bottom: 0px;
    
    
}

.produto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin: 1rem;
    padding: 0.5rem;
}

.img {
    background-image: url(../../assets/imagens/imagens_editadas/mulher_6.jpg);
    background-size: cover;
    width: 7rem;
    height: 10rem;
    margin: 1rem;
    
    
}
.img-2 {
    background-image: url(../../assets/imagens/imagens_editadas/mulher_4.jpg);
    background-size: cover;
    width: 7rem;
    height: 10rem;
    margin: 1rem;
    
    
}
.select {
    width: 6rem;
    height: 1.4rem;
    text-align: center;
    margin: 0.4rem;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    
    
}


.linha {
    display: flex;
    flex-direction: row;
}

.linha button{
    margin-left: 17rem;
}

.linha-2 {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0.5rem;
    margin-top: 2.3rem;
    align-items: center;
}

.resumo {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.qtd {
    width: 100%;
}
.conteiner_info_resumo p{
    font-size: 1.4em;
}

.conteiner_info_resumo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.detalhe-l-produto {
    width: 62%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #000;
    padding: 0.5rem 0rem 0.5rem 0rem;
    border-radius: 5px 5px 0px 0;
    
}
.detalhe-l-total {
    width: 62%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #000;
    padding: 0.5rem 0rem 0.5rem 0rem;
    border-radius: 0px 0px 5px 5px;
    
}
.detalhe-c{
    width: 62%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:start;
    border: 1px solid #000;
    padding: 0.5rem 0rem 0.5rem 0rem;
    border-radius: 5px;
}
.ende p {
    margin-left: 1rem;
    margin-right: 2rem;
    font-weight: 400;
}

.pag{
    width: 100%;
    height: 5rem;
    border: #000 solid 1px;
   
    align-items: center;
}

.preco-p {
    width: 100%;
    margin-left: 4rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

.total{
    width: 100%;
    height: 50%;
    display: flex;
    margin-left: 50%;
    margin-top: 1rem;
}

.sub {
    width: 100%;
    margin-left: 1rem;
    margin-top: 1rem;
}

.sts{
    width: 62%;
    border: #000 solid 1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    

}
.sts p{
    margin-left: 1rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

.botao_resume {
    width: 20rem;
    height: 4rem;
    margin: 1rem;
    border-radius: 9px;
    border: none;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: left;
    margin: 0.2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
}

h2 {
    text-align: left;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
}

p {
    text-align: left;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 600;
}

@media (max-width: 1620px){
        .total{
            margin-left: 40%;
        }

        .conteiner_info_resumo p{
            font-size: 1.2em;
        }

        h2{
            font-size: 1.4em;
        }
    }

@media (max-width: 1400px){
        .total{
            margin-left: 30%;
        }
    }

@media (max-width: 1300px){
        .total{
            margin-left: 20%;
        }
        
        .h2{
            font-size: 1em;
        }
    }

@media (max-width: 1000px) {
    .geral {
        width: 100%;
    }

    .separador {
        flex-direction: column;
    }

    .produtos {
        width: 100%;
        height: auto;
        margin: 0;
        border-right: none;
    }

    .produto {
        width: 95%;
        align-items: center;
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .h2{
        font-size: 1.4em;
        
    }

    .resumo {
        width: 100%;
        height: auto;
        align-items: center;
        margin: 0.5rem;
        margin-left: 0.5rem;
    }

    .sub p {
        width: 3rem;
        margin-left: 0.3rem;
    }
    .preco {
        width: 90%;
        height: auto;
        
        align-items: center;
       
    }

    .total{
        width: 100%;
        align-items: end;
        justify-content: end;
        margin-right: 1rem;
    }

    @media (max-width: 710px){
        .info{
            width: 80%;
        }
        h2{
            font-size: 1.2em;
        }
    }
    
}


    
