@charset "UTF-8";

main {
    width: 100vw;
    height: auto;

    padding: 0em;
    margin: 0em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    flex-wrap: wrap;

    font-family: 'Poppins', sans-serif;
}


.conteiner_banner {
    height: auto;

    margin: 1em 0 2em 0;
}

.conteiner_banner figure {
    width: 100%;
    height: 100%;
}

.conteiner_banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteiner_patrocinadores {
    height: 10em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #EBD96B;

    margin: 0em 0 3em 0;

    flex-wrap: wrap;
}

.conteiner_patrocinadores ul {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style: none;

    margin: auto;
    padding: 0%;
    padding-top: 0.5em;

    gap: 3.5em;
}

.conteiner_patrocinadores figure {
    width: 100%;
    height: 100%;
}

.conteiner_patrocinadores img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.title_secao_em_alta figure {
    width: 14%;
    height: 34%;

    margin-right: auto;
    margin-top: 1em;

    margin: 1em auto 0em 3em;
}

.title_secao_em_alta img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}


.title_secao_leveza figure {
    width: 38%;
    height: 58%;

    margin-right: auto;
    margin-top: 1em;

    margin: 1em auto 0em 3em;
}

.title_secao_leveza img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.title_secao_seu_mood figure {
    width: 27%;
    height: 47%;

    margin-right: auto;
    margin-top: 1em;

    margin: 1em auto 0em 3em;
}

.title_secao_seu_mood img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.conteiner_secao_em_alta {
    height: 28em;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    list-style: none;

    gap: 6.5em;

    flex-wrap: wrap;

    margin: 0em 0 3em 0;
}



.conteiner_secao_em_alta li {
    height: 95%;

    margin: 0%;
    padding: 0%;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


.conteiner_imagem_produto {
    height: 17em;
}

.conteiner_imagem_produto figure {
    width: 100%;
    height: 100%;
    margin: 0;
}

.conteiner_imagem_produto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.conteiner_descricao_produto_em_alta {
    margin: 1.5em 0.5em 1em 0.5em;

    font-size: large;
    font-weight: 900;

    flex-wrap: wrap;
}

.conteiner_nome_produto_em_alta {
    height: 4em;

    margin: auto;
}

.conteiner_preco_produto_em_alta {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 1em;
}

.conteiner_preco_produto_em_alta p {
    margin: 0;
    margin-right: auto;
    font-size: 1em;
    line-height: 1;
}

.conteiner_preco_produto_em_alta figure {
    width: 1.5em;
    height: 1.5em;
    margin: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.conteiner_preco_produto_em_alta img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.conteiner_newsletter_signup {
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    background-color: #E5C643;

    padding: 4em 0em 8em 0em;

    gap: 3em;
}

.conteiner_text {
    height: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 0 1em;
}

.conteiner_text h2 {
    font-size: 2.2em;
    font-weight: 900;
    margin: 0;
    margin-top: 1.7em;
    line-height: 1.5;
}

@media (max-width: 1200px) {
    .conteiner_banner {
        height: auto;

        margin: 1em 0 1em 0;
    }

    .conteiner_patrocinadores {
        height: 7em;
    }

    .conteiner_patrocinadores ul {
        gap: 2.8em;
    }

    .conteiner_patrocinadores figure {
        width: 95%;
        height: 95%;
    }
}

@media (max-width: 992px) {
    .conteiner_patrocinadores {
        height: 6em;
    }

    .conteiner_patrocinadores ul {
        gap: 2em;
    }

    .conteiner_patrocinadores figure {
        width: 100%;
        height: 100%;
    }

    .conteiner_secao_em_alta {
        height: 23em;

        gap: 5em;
    }

    .conteiner_secao_em_alta li {
        height: 90%;


    }

    .conteiner_imagem_produto {
        height: 12em;
    }

    .conteiner_descricao_produto_em_alta {
        margin: 1.5em 0.5em 1em 0.5em;

        font-size: medium;
    }

    .conteiner_text {
        height: 10em;

    }

    .conteiner_text h2 {
        font-size: 1.8em;
        font-weight: 900;
        text-align: center;
    }

    .conteiner_text p {
        font-size: 1.1em;
    }
}

@media (max-width: 768px) {
    .conteiner_banner {

        padding: 0em;
        margin: 1em 0em 0.5em 0em;
    }


    .conteiner_patrocinadores {
        height: 4em;
    }

    .conteiner_patrocinadores ul {
        gap: 1em;
    }

    .conteiner_patrocinadores figure {
        width: 100%;
        height: 100%;
    }

    .conteiner_secao_em_alta {
        height: 18em;

        gap: 3em;
    }

    .conteiner_secao_em_alta li {
        height: 90%;

    }

    .conteiner_imagem_produto {
        height: 9em;
    }

    .conteiner_descricao_produto_em_alta {
        margin: 1.5em 0.5em 1em 0.5em;

        font-size: small;
    }

    .conteiner_newsletter_signup {

        padding: 2em 0em 4em 0em;

        gap: 1.6em;
    }

    .conteiner_input_submit input {
        width: 100%;
        height: 1.9em;
        border-radius: 10px;

        text-indent: 1em;


    }

    .conteiner_input_submit button {
        width: 4em;
        height: 1.8em;
    }

    .conteiner_text h2 {
        font-size: 1.2em;
        font-weight: 900;
        text-align: center;
    }

    .conteiner_text p {
        font-size: 0.8em;
    }

 


}

@media (max-width: 576px) {
    .conteiner_patrocinadores {
        height: 3em;
    }

    .conteiner_patrocinadores ul {
        gap: 0.8em;
    }

    .conteiner_patrocinadores figure {
        width: 100%;
        height: 100%;
    }

    .conteiner_secao_em_alta {
        height: 12.4em;

        gap: 2em;
    }

    .conteiner_imagem_produto {
        height: 7em;
    }

    .conteiner_descricao_produto_em_alta {
        margin: 1.5em 0.5em 1em 0.5em;

        font-size: 0.45em;
    }

    .conteiner_newsletter_signup {
        padding: 1em;
    }

    .conteiner_input_submit input {
        width: 100%;
        height: 1.5em;
        border-radius: 10px;

    }

    .conteiner_input_submit button {
        width: 4em;
        height: 1.4em;
    }


    .conteiner_text h2 {
        font-size: 1em;
        font-weight: 900;
        text-align: center;
    }

    .conteiner_text p {
        font-size: 0.6em;
    }

    .conteiner_newsletter_signup {
        padding: 0.5em 0 2em 0;

        gap: 0em;
    }

}

@media (max-width: 700px) {
    .conteiner_patrocinadores {
        display: none;
    }
}