@charset "UTF-8";



body{
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


footer{
    width: 100%;
    height: 20em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    background-color: black;

}

.conteiner_footer_redes{
    height: 10em;

    margin-right: auto;
    margin-left: 5em;

}

.lista_redes{
    width: 100%;
    height: 3em;


    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    border-radius: 10px;

    margin: 0%;
    padding: 0%;

    gap: 1.5em;

    list-style: none;
    
}

.lista_redes li{
    width: 2.6em;
    height: 2.6em;

    background-color: #E5C643;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

   
}

.lista_redes figure{
    width: 60%;
    height: 60%;

    margin: 0%;
    margin-bottom: 0.2em;
    padding: 0%;
    

}

.lista_redes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteiner_footer_info{
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    margin-right: 5em;
}

.conteiner_footer_info ul{
    height: 80%;

}

.conteiner_footer_info li{

    color: #8E8E8E;

    padding: 0.5em;

    list-style: none;
}

.conteiner_footer_info li.titulo_config {
    color: white;
}


@media (max-width: 1200px) {
    .conteiner_footer_redes h3{
        font-size: 1.3em;
    }

    .conteiner_footer_redes p{
        font-size: 0.9em;
    }

    .conteiner_footer_info li{
        font-size: 0.9em;
    }
}

@media (max-width: 992px) {
    footer{
        height: auto;
        flex-direction: column;
    }

    .conteiner_footer_info {
        display: flex;
        justify-content: center;
        align-items: center;

        padding-top: 2em;
        margin: auto;

        order: 1;
    }

    .conteiner_footer_redes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding: 4em 0 4em 0;
        margin: auto;

        order: 2;
    }

    
    .lista_redes{
        justify-content: center;
    }
    
}

@media (max-width: 768px) {
     .conteiner_footer_redes h3{
        font-size: 1.1em;
    }

    .conteiner_footer_redes p{
        font-size: 0.8em;
    }

    .conteiner_footer_info li{
        font-size: 0.8em;
    }
}