@charset "UTF-8";

main{
    width: 100vw;
    height: auto;

    padding: 0%;
    margin: 0%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    flex-wrap: wrap;
}


.conteiner_banner{
    height: auto;

    margin: 1em 0 2em 0;
}

.conteiner_banner figure{
    width: 100%;
    height: 100%;
}

.conteiner_banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteiner_patrocinadores{
    height: 10em;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #EBD96B;

    margin: 0em 0 3em 0;

    flex-wrap: wrap;
}

.conteiner_patrocinadores ul{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style: none;

    margin: auto;
    padding: 0%;
    padding-top: 0.5em;
    
    gap: 3.5em;
}

.conteiner_patrocinadores figure{
    width: 100%;
    height: 100%;
}

.conteiner_patrocinadores img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media (max-width: 1200px) {
    .conteiner_banner{
    height: auto;

    margin: 1em 0 1em 0;
    }         

    .conteiner_patrocinadores{
        height: 7em;
    }

    .conteiner_patrocinadores ul{
           gap: 2.8em;
    }

    .conteiner_patrocinadores figure{
        width:  95%;
        height: 95%;
}
}

@media (max-width: 992px) {
    .conteiner_patrocinadores{
        height: 6em;
    }

    .conteiner_patrocinadores ul{
           gap: 2em;
    }

    .conteiner_patrocinadores figure{
        width:  100%;
        height: 100%;
}
}

@media (max-width: 768px) {
    .conteiner_banner{
    height: auto;

    margin: 1em 0 0.5em 0;
    }         


    .conteiner_patrocinadores{
        height: 4em;
    }

    .conteiner_patrocinadores ul{
           gap: 1em;
    }

    .conteiner_patrocinadores figure{
        width:  100%;
        height: 100%;
}

}

@media (max-width: 576px) {
    .conteiner_patrocinadores{
        height: 3em;
    }

    .conteiner_patrocinadores ul{
           gap: 0.8em;
    }

    .conteiner_patrocinadores figure{
        width:  100%;
        height: 100%;
}

}
